
<!DOCTYPE html>
<html lang="en">
	<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-social.css">


		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Vladislav Varadinov" />
		<meta name="description" content="My name is Vladislav Varadinov a Computer Science student at UCI" />
		<meta name="robots" content="index, follow" />
		<meta name="revisit-after" content="14 days" />

		<title> Vladislav Varadinov </title>

		<!-- Bootstrap core CSS -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" type="text/css" />
		<link href="/static/view/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/static/view/style.css" rel="stylesheet" />

		<link rel="shortcut icon" href="/static/vlad.ico" type="image/x-icon" />
		<link rel="icon" href="/static/vlad.ico" type="image/x-icon" />


			<script src="/static/view/js/html5shiv.js"></script>
			<script src="/static/view/js/respond.min.js"></script>
	</head>
	<body data-spy="scroll" data-target="#navbar-example">




		<div id="top" class="jumbotron" data-src="/static/view/images/tower_scope_animation.gif" data-position="center right">
			<div class="container">
				<h1>Vladislav Varadinov</h1>
			</div>

			<div class="overlay"></div>

			<a href="#profile" class="scroll-down">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</a>
		</div>

		<nav class="navbar navbar-default" id="navbar-example" role="navigation">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>


			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#profile">Profile</a></li>
					<li><a href="#experiences">Experiences</a></li>
					<li><a href="#abilities">Abilities</a></li>
										<li><a href="#projects">Projects</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</nav>

		<div class="background-white">
			<div id="profile" class="container">
				<h2>Profile</h2>
<p class="lead">Computer Science Student</p>

<hr />

<div class="row">
	<div class="col-md-4">
		<h3>About me</h3>
		<p>
		Computer science student at UCI. I have a passion for software, hardware and game development. I am really motivated and passionate when it comes to learning new software and hardware and the applications they see in the real world. I am also a big team player and a excellent leader. </p>
	</div>
	<div class="col-md-4 text-center">
		<img src="/static/view/images/vlad.jpg" alt="Vladislav Varadinov" width="150" height="150" />
	</div>
	<div class="col-md-4">
		<h3>Details</h3>
		<p>
			<strong>Name:</strong><br />
			Vladislav Varadinov<br />
			<strong>Age:</strong><br />
			19 years<br />
			<strong>Location:</strong><br />
			Irvine, California		</p>

		<a href="https://github.com/Vvaradinov">
		<img src="static/view/images/github.png" style="width:36px;height:36px;"></a>


	</div>
</div>			</div>
		</div>

		<div id="experiences" class="container">
			<h2>Experiences</h2>



<h3>Education</h3>


<div class="experiences">


	<div class="experience row">
		<div class="col-md-4">
			<h4>University Of California Irvine</h4>
			<p class="experience-period">
				Sep 2015				-
				expected Jun 2019			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Computer Science</strong>
				<span class="hidden-phone">
					 				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Irvine, California					</span>
				</span>
			</p>
		</div>
	</div>


	<div class="experience row">
		<div class="col-md-4">
			<h4>Liceo Italiano Sofia</h4>
			<p class="experience-period">
				Sep 2010				-
				May 2015			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>High School - (Science and Mathematics Class)</strong>
				<span class="hidden-phone">
					The education was mainly in Biology, Chemistry, Physics and Mathematics. In addition I had classes with science professors taught in Italian and was required to take an exam hosted by the Italian embassy which awarded me a Bulgarian as well as an Italian diploma.		</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Sofia, Bulgaria					</span>
				</span>
			</p>
		</div>
	</div>




</div>



<hr />

<h3>Careers</h3>


<div class="experiences">


	<div class="experience row">
		<div class="col-md-4">
			<h4>CNN International</h4>
			<p class="experience-period">
				April 2015				-
				April 2014			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Fixer, Translator, Editor</strong>
				<span class="hidden-phone">
				 Fixed meetings and interviews for the TV crew for a successful 3 day job.
				 Translated the interviews.
				 Edited and added subtitles to the final edit before it was aired in front of the global audience of the top international news channel.</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Sofia, Bulgaria					</span>


					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="http://www.cnn.com" target="_blank">http://www.cnn.com/</a>
					</span>


				</span>
			</p>
		</div>
	</div>


	<div class="experience row">
		<div class="col-md-4">
			<h4>Lion Technologies</h4>
			<p class="experience-period">
				May 2014				-
				Sep 2014			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Intern - Software Development</strong>
				<span class="hidden-phone">
					Lion Technologies is a server company based in Sofia. I worked with a mentor who taught me basic steps to successful software development, time management, product quality, teamwork, communication, customer support</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Sofia, Bulgaria					</span>


					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="http://liontech.eu" target="_blank">http://liontech.eu/</a>
					</span>


				</span>
			</p>
		</div>
	</div>
<hr />
<h3>Activities</h3>
	<div class="experience row">
		<div class="col-md-4">
			<h4>Euro Club - Liceo Italiano Sofia</h4>
			<p class="experience-period">
				Sep	2013			-
				May 2015			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Club President</strong>
				<span class="hidden-phone">
				Lead the club which raised over 30,000$ for charity projects in Bulgaria and was presented with the Charity of the Year award by the Ministry of Culture of Bulgaria.
					Represented the club as its main speaker, successfully establishing permanent relations with different organizations and political figures.
				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Sofia, Bulgaria			</span>


				</span>
			</p>
		</div>
	</div>



</div>

		</div>

		<div class="background-white">
			<div id="abilities" class="container">
				<h2>Abilities</h2>
<p class="lead">
	&ldquo;An investment in knowledge pays the best interest&rdquo;<br />- Benjamin Franklin
</p>

<hr />

<h3>Skills</h3>

<div class="row">


	<div class="col-md-6">
		<ul class="no-bullets">


			<li>
				<span class="ability-title">Python</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star"></span>


				</span>
			</li>



			<li>
				<span class="ability-title">C#</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star"></span>


				</span>
			</li>



			<li>
				<span class="ability-title">HTML</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star"></span>


				</span>
			</li>



			<li>
				<span class="ability-title">CSS</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star"></span>


				</span>
			</li>







		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
				<li>
				<span class="ability-title">JavaScript</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star"></span>


				</span>
			</li>



			<li>
				<span class="ability-title">Django Framework</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star"></span>


				</span>
			</li>



			<li>
				<span class="ability-title">Bootstrap Framework</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star "></span>


				</span>
			</li>




			<li>
				<span class="ability-title">C++</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star "></span>


				</span>
			</li>







		</ul>
	</div>


</div>


<hr />

<h3>Languages</h3>

<div class="row">


	<div class="col-md-6">
		<ul class="no-bullets">


			<li>
				<span class="ability-title">Bulgarian</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


				</span>
			</li>



			<li>
				<span class="ability-title">English</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


				</span>
			</li>



		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">



			<li>
				<span class="ability-title">Italian</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star "></span>


				</span>
			</li>



			<li>
				<span class="ability-title">Spanish</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star "></span>


					<span class="glyphicon glyphicon-star "></span>


					<span class="glyphicon glyphicon-star "></span>


					<span class="glyphicon glyphicon-star "></span>


				</span>
			</li>



		</ul>
	</div>


</div>

<hr />

<h3>Tools</h3>

<div class="row">

	<div class="col-md-6">
		<ul class="no-bullets">


			<li>
				<span class="ability-title">MS Office</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


				</span>
			</li>



			<li>
				<span class="ability-title">Windows</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


				</span>
			</li>




			<li>
				<span class="ability-title">Unity</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star"></span>


				</span>
			</li>







		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">



			<li>
				<span class="ability-title">Adobe Photoshop</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star "></span>


				</span>
			</li>



			<li>
				<span class="ability-title">Git</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star "></span>


				</span>
			</li>



			<li>
				<span class="ability-title">Linux</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star"></span>


					<span class="glyphicon glyphicon-star "></span>


				</span>
			</li>


		</ul>
	</div>

	</div>			</div>
		</div>


		<div id="projects" class="container">
			<h2>Projects</h2>
<p class="lead">
	&ldquo;You can do anything you set your mind to.&rdquo;<br />- Benjamin Franklin
</p>

<hr />


<div class="row">


	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="/static/view/images/bookstir.jpg" alt="Bookstir" />

			<figcaption>
				<h3>Bookstir</h3>
				<p>Bookstir - a web app for buying and selling books on university campuses.
				CURRENTLY IN DEVELOPMENT</p>
				<p><strong>Tags:</strong> <br />Bootstrap, HACKUCI, Hackaton</p>
				<a href="http://devpost.com/software/hackstir-j3s9nm" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption>
		</figure>
	</div>


	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="/static/view/images/SUP.jpg" alt="SUP" />

			<figcaption>
				<h3>Super Ostrich HD</h3>
				<p>Game Jam 2015 - Super Ostrich HD - 3D Game </p>
				<p><strong>Tags:</strong> <br />Game Dev, Global Game Jam 2015, 48 Hours</p>
				<a href="http://globalgamejam.org/2015/games/super-ostrich-hd" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption>
		</figure>
	</div>


	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="/static/view/images/dreamcatcher.jpg" alt="Dream Catcher" />

			<figcaption>
				<h3>Dream Catcher</h3>
				<p>2D Platformer - Dream Catcher is a team project started Oct 2015. CURRENTLY IN DEVELOPMENT</p>
				<p><strong>Tags:</strong> <br />Development, Game Dev, Team Project</p>
				<a href="https://github.com/themechanicalturk/DreamCatcher" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption>
		</figure>
	</div>


	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="/static/view/images/vladsite.jpg" alt="Playful Arts Festival" />

			<figcaption>
				<h3>Resume Site</h3>
				<p>My First Resume Site</p>
				<p><strong>Tags:</strong> <br />Bootstrap, Django</p>
				<a href="http://playfulartsfestival.com" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption>
		</figure>
	</div>


</div>
		</div>

		<div class="background-gray">
			<div id="contact" class="container">
				<h2>Contact</h2>

<hr />

<div class="row">
	<div class="col-md-6">
		<ul class="no-bullets">

			<li>
				<a href="https://www.linkedin.com/in/vladislav-varadinov-894462bb" target="_blank">
					<span class="icon icon-linkedin"></span>
					Vladislav Varadinov				</a>
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">

			<li>
				<a href="mailto:vladislav.varadinov@gmail.com">
					<span class="icon icon-email"></span>
					<span>vladislav.varadinov@gmail.com</span>

				</a>
			</li>
		</ul>
	</div>
</div>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="/static/view/js/script.js"></script>
		<script type="text/javascript" src="/static/view/js/bootstrap.min.js"></script>

		</script>
	</body>
</html>